.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

.listItem {
    width: 4rem;
    height: 4rem;
    @extend .card;
    cursor: pointer;
}

.inputContainer {
    position: relative;
    width: 4rem;

    .addButton {
        @extend .listItem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
    }

    .input {
        display: none;
    }
}

.itemContainer {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
}

.img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    @extend .listItem;
}

.dot {
    width: 1rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.cross {
    position: absolute;
    left: calc(100% - 0.7rem);
    top: -0.3rem;
    z-index: 2;
    @extend .dot;
    @extend .card;
    background-color: #fff;
    transform: rotate(45deg);
}

.add {
    position: absolute;
    left: calc(100% - 0.7rem);
    top: calc(100% - 0.7rem);
    z-index: 2;
    @extend .dot;
    @extend .card;
    background-color: #fff;
}